* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow-x: hidden;
}

/* #turn-phone-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    display: none;
}

#top-arrow {
    margin-top: 20px;
    margin-bottom: -30px;
    margin-left: -30px;
}

#turn-phone {
    margin-top: 30px;
}

#bottom-arrow {
    margin-left: 120px;
} */

canvas {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#fullscreen-btn {
    position: absolute;
    left: 10%;
    top: 10%;
    transform: translate(-10%, -50%);
    padding: 10px;
    background-color: black;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(255, 196, 0);
    /* display: none; */
}

#info-text {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    font-size: 50px;
    color: rgb(0, 238, 255);
    display: none;
}

#play-btn {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: black;
    font-size: 20px;
    color: rgb(0, 238, 255);
    border-radius: 5px;
    border: 2px solid rgb(255, 196, 0);
    display: none;
}

h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: rgb(0, 238, 255);
    opacity: 0;
    animation: fadeInOut 6s linear forwards;
}

i {
    color: white;
    opacity: 0;
    animation: fadeInOut 6s linear forwards;
}

b {
    color: rgb(199, 0, 0);
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }

    25% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    75% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
}

#first-text,
#second-text,
#third-text,
#fourth-text,
#fifth-text,
#sixth-text,
#seventh-text,
#eighth-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 238, 255);
    opacity: 0;
    animation: fadeInOut 6s linear forwards;
}

#second-text {
    animation-delay: 8s;
}

#third-text {
    animation-delay: 16s;
}

#fourth-text {
    animation-delay: 25s;
}

#fifth-text {
    animation-delay: 36s;
}

#sixth-text {
    animation-delay: 44s;
}

#seventh-text {
    animation-delay: 54s;
}

#eighth-text {
    animation-delay: 64s;
}

.ball-text {
    position: fixed;
    color: rgb(0, 238, 255);
    font-size: 50px;
    right: 20%;
    bottom: 40%;
    transform: translate(-20%, -40%);
    display: none;
}

@media screen and (max-width: 800px) {
    .ball-text {
        font-size: 40px;
        right: 20%;
        bottom: 55%;
        transform: translate(20%, 55%);
    }

    h1 {
        font-size: 22px;
    }

    #play-btn {
        left: 50%;
        top: 10%;
        transform: translate(-50%, -10%);
        padding: 10px;
        font-size: 15px;
    }

    #info-text {
        top: 30%;
        transform: translate(-50%, -30%);
        font-size: 20px;
    }
}

/* @media all and (max-width: 400px) {
    #wrapper {
        display: none;
    }

    #turn-phone-info {
        display: block;
    }
} */